* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "Arial";
    src: url("./references/fonts/arial/arial-black.woff") format("woff");    
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Royal Kingdom";
    src: url("./references/fonts/royal-kingdom-font/AnyConv.com__RoyalKingdom1-BWdrd.woff") format("woff");    
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Black Chancery";
    src: url("./references/fonts/blackchancery/AnyConv.com__BLKCHCRY.woff") format("woff");    
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Princess Lulu";
    src: url("./references/fonts/princess-lulu-font/AnyConv.com__PrincessLulu-lxBe.woff") format("woff");    
    font-weight: 400;
    font-style: normal;
}


.wrapper {
    width: 100%;
    height: 100vh;
    background-color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
}

    .title_wrapper {
        width: 1200px;
        height: 300px;
        display: flex;
        justify-content: space-between;
        background-color: #334c4c;        
        border-radius: 30px 30px 0px 0px;              
    }

        .star_two {
            width: 15px;
            height: 15px;
            background-image: url('./references/2_firefly_pics/star.svg');
            margin: 30px 0px 0px 50px;
            opacity: 1;
            animation-name: star_two_anim;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }

        @keyframes star_two_anim {
            0% {
                opacity: 1;
            }
            50% {
                opacity: 0.5;
            }
            100% {
                opacity: 1;
            }
        }

        .star_four {
            width: 8px;
            height: 8px;
            background-image: url('./references/2_firefly_pics/star.svg');
            margin: 160px 0px 0px 0px;
            opacity: 0.4;
            animation-name: star_four_anim;
            animation-delay: 0.5s;
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

        @keyframes star_four_anim {
            0% {
                opacity: 0.4;
            }
            50% {
                opacity: 0.8;
            }
            100% {
                opacity: 0.4;
            }
        }

        .cloud_one {      
            width: 300px;
            height: 300px;         
            background-image: url('./references/2_firefly_pics/cloud_night.svg');            
            box-sizing: border-box;
            display: flex;   
            flex-direction: column;
            justify-content: center;
            align-items: center;       
        }

            .name {
                width: 230px;
                height: 80px;             
                font-size: 30px;
                font-family: 'Royal Kingdom';
                letter-spacing: 4px;
                color: #303030;                                                           
            }

            .name::first-letter {
                font-size: 80px;
                font-family: 'Black Chancery';
                color: red;
            }

        .cloud_two {      
            width: 200px;
            height: 200px;         
            background-image: url('./references/2_firefly_pics/cloud_night.svg');            
            box-sizing: border-box;
            display: inline-flex;
            opacity: 0.5;           
        }

        .cloud_three {
            width: 150px;
            height: 150px;         
            background-image: url('./references/2_firefly_pics/cloud_night.svg');            
            box-sizing: border-box;
            display: inline-flex;
            opacity: 0.8;  
        }

        .star_five {
            width: 11px;
            height: 11px;
            background-image: url('./references/2_firefly_pics/star.svg');
            margin: 60px 0px 0px 0px;
            opacity: 0.7;
            animation-name: star_five_anim;
            animation-delay: 0.1s;
            animation-duration: 8s;
            animation-iteration-count: infinite;
        }        

        @keyframes star_five_anim {
            0% {
                opacity: 0.7;
            }
            25% {
                opacity: 0.1;
            }
            50% {
                opacity: 0.8;
            }
            75% {
                opacity: 0.2;
            }
            100% {
                opacity: 0.7;
            }            
        }


        .star_six {
            width: 11px;
            height: 11px;
            background-image: url('./references/2_firefly_pics/star.svg');
            margin: 80px 0px 0px 0px;
            opacity: 0.4;
            animation-name: star_six_anim;            
            animation-duration: 15s;
            animation-iteration-count: infinite;
        }               

        @keyframes star_six_anim {
            0% {
                opacity: 0.4;
            }
            25% {
                opacity: 0.8;
            }
            50% {
                opacity: 0.1;
            }
            75% {
                opacity: 0.6;
            }
            100% {
                opacity: 0.4;
            }            
        }

        .star_seven {
            width: 6px;
            height: 6px;
            background-image: url('./references/2_firefly_pics/star.svg');
            margin: 50px 0px 0px 0px;
            opacity: 0.6;
            animation-name: star_seven_anim;            
            animation-duration: 10s;
            animation-iteration-count: infinite;
        }

        @keyframes star_seven_anim {
            0% {
                opacity: 0.6;
            }
            25% {
                opacity: 0.1;
            }
            50% {
                opacity: 0.8;
            }
            75% {
                opacity: 0.2;
            }
            100% {
                opacity: 0.6;
            }            
        }

        .star_one {
            width: 10px;
            height: 10px;
            background-image: url('./references/2_firefly_pics/star.svg');
            margin: 10px 0px 0px 0px;
            opacity: 0.8;
            animation-name: star_one_anim;            
            animation-duration: 3s;
            animation-iteration-count: infinite;
        }

        @keyframes star_one_anim {
            0% {
                opacity: 0.8;
            }           
            50% {
                opacity: 0.2;
            }           
            100% {
                opacity: 0.8;
            }            
        }
        
        .star_three {
            width: 20px;
            height: 20px;
            background-image: url('./references/2_firefly_pics/star.svg');
            margin: 100px 10px 0px 0px;
            opacity: 0.5;
            animation-name: star_five_anim;            
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-delay: 0.05s;
        }

        @keyframes star_three_anim {
            0% {
                opacity: 0.5;
            }
            25% {
                opacity: 1;
            }
            50% {
                opacity: 0.2;
            }
            75% {
                opacity: 0.7;
            }
            100% {
                opacity: 0.5;
            }            
        }

        .main_wrapper {
            width: 1200px;
            height: 600px; 
            display: flex;
            justify-content: center;
            background-color: #303030;    
        }
    
        .second_game_firefly {
            width: 1200px;
            height: 600px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #334c4c;
            border-radius: 0px 0px 30px 30px;    
            overflow: hidden;        
        }

        .fireflies_jar_wrapper {
            width: 1200px;
            height: 500px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .branch_jar {
            min-width: 300px;
            height: 500px;
            display: flex;
            justify-content: flex-end;
        }

            .branch_jar_wrapper {
                width: 300px;
                height: 500px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: space-between;
            }

                .branch {
                    width: 200px;
                    height: 200px;
                    background-image: url('./references/2_firefly_pics/branch.svg');
                    box-sizing: border-box;
                    display: inline-flex;
                    animation: branch_anim 20s infinite;
                    /*animation-duration: 20s;
                    animation-iteration-count: infinite;*/
                    transform-origin: bottom center;
                    margin: 0px 0px 0px 50px;                   
                }          

                @keyframes branch_anim {
                    0% {
                        transform: rotate3d(0, 1, 0, 0deg);
                        background-image: url('./references/2_firefly_pics/branch_purple_solid.svg');                        
                    }
                    15% {
                        background-image: url('./references/2_firefly_pics/branch_red_solid.svg');                        
                    }
                    30% {
                        background-image: url('./references/2_firefly_pics/branch_orange_solid.svg');
                    }
                    45% {
                        background-image: url('./references/2_firefly_pics/branch_yellow_solid.svg');
                    }
                    60% {
                        transform: rotate3d(0, 1, 0, 150deg);
                        background-image: url('./references/2_firefly_pics/branch_green_solid.svg');
                    }
                    75% {
                        background-image: url('./references/2_firefly_pics/branch_blue_solid.svg');
                    }
                    90% {
                        background-image: url('./references/2_firefly_pics/branch_navy_blue_solid.svg');
                    }
                    100% {
                        transform: rotate3d(0, 1, 0, 360deg);
                        background-image: url('./references/2_firefly_pics/branch_purple_solid.svg');
                    }                    
                }

                .jar {
                    width: 300px;
                    height: 300px;
                    background-image: url('./references/2_firefly_pics/jar1.svg');
                    box-sizing: border-box;
                    display: inline-flex;
                    animation-name: jar_anim;
                    animation-duration: 20s;
                    animation-iteration-count: infinite;
                    transform-origin: bottom center;                    
                }

                @keyframes jar_anim {
                    0% {
                        background-image: url('./references/2_firefly_pics/jar_purple.svg');                        
                    }
                    15% {
                        background-image: url('./references/2_firefly_pics/jar_red.svg');                        
                    }
                    30% {
                        background-image: url('./references/2_firefly_pics/jar_orange.svg');
                    }
                    45% {
                        background-image: url('./references/2_firefly_pics/jar_yellow.svg');
                    }
                    60% {
                        background-image: url('./references/2_firefly_pics/jar_green.svg');
                    }
                    75% {
                        background-image: url('./references/2_firefly_pics/jar_blue.svg');
                    }
                    90% {
                        background-image: url('./references/2_firefly_pics/jar_navy_blue.svg');
                    }
                    100% {
                        background-image: url('./references/2_firefly_pics/jar_purple.svg');
                    }                    
                }

            .fireflies {
                width: 800px;
                height: 500px; 
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;                                                                              
            }

            .firefly_one {
                width: 100px;
                height: 100px;
                background-image: url('./references/2_firefly_pics/firefly_without_light.svg'); 
                margin: 50px 10px 20px 30px;                
                animation-delay: -2s !important;
                transform: scale(0.9);
                animation-name: move_anim;
                animation-duration: 10s;  
                cursor: url('./references/2_firefly_pics/magic_wand_2.png'), 24 24, auto;                                                            
            }            

            .firefly_one:hover {
                background-image: url('./references/2_firefly_pics/firefly_red.svg');                
                transition: 0.5s;
                cursor: url('./references/2_firefly_pics/magic_wand_2.png'), 24 24, auto;                    
            }

            .firefly_two {
                width: 100px;
                height: 100px;
                background-image: url('./references/2_firefly_pics/firefly_without_light.svg');
                margin: 0px 80px 30px 20px;                
                animation-delay: -1s !important;
                transform: scale(0.8);
                animation-name: move_anim;
                animation-duration: 10s; 
                cursor: url('./references/2_firefly_pics/magic_wand.png');                
            }

            .firefly_two:hover {
                background-image: url('./references/2_firefly_pics/firefly_orange.svg');                
                transition: 0.5s;                
                cursor: url('./references/2_firefly_pics/magic_wand.png');
            }

            .firefly_three {
                width: 100px;
                height: 100px;
                background-image: url('./references/2_firefly_pics/firefly_without_light.svg'); 
                margin: 10px 30px 100px 60px;                
                animation-delay: -3s !important;
                transform: scale(1.2);
                animation-name: move_anim;
                animation-duration: 10s;
                cursor: url('./references/2_firefly_pics/magic_wand.png');                 
            }

            .firefly_three:hover {
                background-image: url('./references/2_firefly_pics/firefly_yellow.svg');
                transition: 0.5s;                
                cursor: url('./references/2_firefly_pics/magic_wand.png');
            }

            .firefly_four {
                width: 100px;
                height: 100px;
                background-image: url('./references/2_firefly_pics/firefly_without_light.svg');
                margin: 100px 50px 0px 50px;                
                animation-delay: -6s !important;
                transform: scale(0.7);
                animation-name: move_anim;
                animation-duration: 10s;                   
            }

            .firefly_four:hover {
                background-image: url('./references/2_firefly_pics/firefly_green.svg');                
                transition: 0.5s;
                cursor: url('./references/2_firefly_pics/magic_wand.png');
            }

            .firefly_five {
                width: 100px;
                height: 100px;
                background-image: url('./references/2_firefly_pics/firefly_without_light.svg'); 
                margin: 100px 50px 0px 50px;                 
                animation-delay: -4s !important;
                transform: scale(1.1);
                animation-name: move_anim;
                animation-duration: 10s; 
                cursor: url('./references/2_firefly_pics/magic_wand.png');               
            }
            
            .firefly_five:hover {
                background-image: url('./references/2_firefly_pics/firefly_blue.svg');                
                transition: 0.5s;
                cursor: url('./references/2_firefly_pics/magic_wand.png');                
            }

            .firefly_six {
                width: 100px;
                height: 100px;
                background-image: url('./references/2_firefly_pics/firefly_without_light.svg');
                box-sizing: border-box;
                display: inline-flex;                
                animation-delay: -6s !important;
                transform: scale(0.5);
                animation-name: move_anim;
                animation-duration: 10s;
                cursor: url('./references/2_firefly_pics/magic_wand.png'); 
            }

            .firefly_six:hover {
                background-image: url('./references/2_firefly_pics/firefly_navy_blue.svg');                
                transition: 0.5s;
                cursor: url('./references/2_firefly_pics/magic_wand.png'); 
            }

            .firefly_seven {
                width: 100px;
                height: 100px;
                background-image: url('./references/2_firefly_pics/firefly_without_light.svg');
                box-sizing: border-box;
                display: inline-flex;                
                animation-delay: -1s !important;
                transform: scale(0.6);
                animation-name: move_anim;
                animation-duration: 10s;  
                cursor: url('./references/2_firefly_pics/magic_wand.png');
            }

            .firefly_seven:hover {
                background-image: url('./references/2_firefly_pics/firefly_purple.svg');                
                transition: 0.5s;
                cursor: url('./references/2_firefly_pics/magic_wand.png');                 
            }

            @keyframes move_anim {
                0% {
                    transform: translate(60vw, 6vh);
                }
                20% {
                    transform: translate(20vw, 10vh);
                }
                40% {
                    transform: translate(0vw, 1vh);
                }
                60% {
                    transform: translate(40vw, 12vh);
                }
                80% {
                    transform: translate(30vw, 2vh);
                }
                100% {
                    top: 30%;
                    left: 20%;
                }
            }

body {
    counter-reset: flying;
}

.input_circle ~ .firefly {
    opacity: 0;
    transition: 0.3s cubic-bezier(0, .43, 1, 0);
    animation: move_anim 10s infinite alternate;
}

.input_circle:checked {
    counter-increment: flying;
}

.input_circle1:not(:checked) ~ .firefly_one,
.input_circle2:not(:checked) ~ .firefly_two,
.input_circle3:not(:checked) ~ .firefly_three,
.input_circle4:not(:checked) ~ .firefly_four,
.input_circle5:not(:checked) ~ .firefly_five,
.input_circle6:not(:checked) ~ .firefly_six,
.input_circle7:not(:checked) ~ .firefly_seven
{
    opacity: 1;
}

.input_circle1:checked ~ .firefly span,
.input_circle2:checked ~ .firefly span,
.input_circle3:checked ~ .firefly span,
.input_circle4:checked ~ .firefly span,
.input_circle5:checked ~ .firefly span,
.input_circle6:checked ~ .firefly span,
.input_circle7:checked ~ .firefly span
{
    display: block;
}

.firefly>span {
    display: none; position: absolute; z-index: 2; left: -250%; bottom: -50%;
    background-color: white; border: solid 2px #000; width: 80px; height: 30px; padding: 10px; border-radius: 50%;
}

.firefly>span:before {
    content: "Caught!"; color: red; font-family: 'Arial'; font-size: 20px;
}


input[type=checkbox] {
    appearance: none;
}

/*input[type=radio] {
    display: none;
}*/

/*radio*/

input[type="radio"] {
    border: 0px;
    width: 50px;
    height: 3em;    
}

/*input[type='radio'] {    
    transform: scale(1.2);
}*/

.slides_logic {
    width: 1200px;
    height: 20px;
    display: flex;
    justify-content: flex-end;
    margin: 10px 0px 0px 0px;    
}

/* or */

#l1:checked ~ .view .l1 {
    background-color: red;    
}

#l2:checked ~ .view .l1 {
    background-color: red;
}

#l1:checked ~ .view .l1_ {
    background-color: red;
}

#l2:checked ~ .view .l2 {
    background-color: red;
}

/* and */

#r1:checked ~ #r2:checked ~ .view .r1 {
    background-color: red;
}

#r1:checked ~ .view .r1_ {
    background-color: red;
}

#r2:checked ~ .view .r2_ {
    background-color: red;
}

/*xor*/

#z1:checked ~ #n2:checked ~ .view .z1 {
    background-color: red;
}

#z1:checked ~ .view .z1_ {
    background-color: red;
}

#z2:checked ~ .view .z2_ {
    background-color: red;
}

#s1:checked ~ .view .sv1 {
    background-color: red;
}

#s2:checked ~ .view .sv2 {
    background-color: red;
}

#s3:checked ~ .view .sv3 {
    background-color: red;
}

#s4:checked ~ .view .sv4 {
    background-color: red;
}

#s1:checked ~ .view .sl1 {
    background-color: red;
}

#s4:checked ~ .view .sl4 {
    background-color: red;
}

.sa {
    display: none;
}

#s1:checked ~ .view .sa2 {
    display: block;
}

#s2:checked ~ .view .sa3 {
    display: block;
}

#s3:checked ~ .view .sa4 {
    display: block;
}

#s4:checked ~ .view .sa1 {
    display: block;
}

.sd {
    display: block;
}

#s1:checked ~ .view .sd4 {
    display: block;
}

#s2:checked ~ .view .sd1 {
    display: block;
}

#s3:checked ~ .view .sd2 {
    display: block;
}

#s4:checked ~ .view .sd3 {
    display: block;
}

.arrow_container {
    position: relative;
    width: 20px;
}

.pagination {
    display: flex;
}

#c1:checked ~ .view .one {
    display: none;
}

/*@keyframes anim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.5);
    }
    100% {
        transform: sale(0);
    }
}

.one_wrapper {
    position: relative;
    display: flex;
    width: max-content;
    border: 1px solid;
}

.one_view {
    width: 100px;
    height: 100px;
}

#c1:checked ~ .view .one_wrapper {
    transform: scale(0);
    background-color: #f00;
    animation: anim_first 1s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.one {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*dino game*/

    .dino_game_items {
        width: 1200px;
        height: 120px;
        display: flex;
        flex-direction: row;
        align-items: space-between;                         
    }

        .obstacle_wrapper { 
            width: 1200px;               
            height: 120px;
            display: flex;            
            align-items: flex-end;            
            overflow: hidden;                                                                           
        }  

            .obstacle_course {
                width: 2000px;
                --obs_width: 120px;
                position: relative;
                /*left: calc(0px - var(--obs_width));
                width: calc(100% + var(--obs_width));*/
                display: flex;            
                justify-content: space-between;
                align-items: flex-end;                                 
                transform: translate(100%);
                /*transition: linear 1s;*/                                   
            }

                .obstacle_one {
                    width: var(--obs_width);
                    height: var(--obs_width);
                    transition-duration: 1s;                    
                    transform: translate(-100%);
                    flex-shrink: 0;
                    background-image: url('./references/pics_obstacles/cacti.svg');
                    animation: obstacle_one_anim 1s;
                    animation-iteration-count: 1;
                    transition-timing-function: linear;                     
                }

                @keyframes obstacle_one_anim {
                    0% {
                        transform: translate(100%);
                    }
                    100% {
                        transform: translate(0%);
                    }
                }

                .obstacle_two {
                    width: var(--obs_width);
                    height: var(--obs_width);
                    transition-duration: 5s;                    
                    transform: translate(-100%);
                    flex-shrink: 0;
                    background-image: url('./references/pics_obstacles/bonfire.svg');
                    animation: obstacle_two_anim 10s;
                    animation-iteration-count: 1;
                    transition-timing-function: linear;                     
                }

                @keyframes obstacle_two_anim {
                    0% {
                        transform: translate(100%);
                    }
                    100% {
                        transform: translate(0%);
                    }
                }

                .obstacle_three {
                    width: var(--obs_width);
                    height: var(--obs_width);
                    transition-duration: 5s;
                    transition-timing-function: linear;
                    transform: translate(-100%);
                    animation-delay: 10s;
                    flex-shrink: 0;
                    background-image: url('./references/pics_obstacles/dinosaur_purple_stegosaurus.svg');
                    animation: obstacle_three_anim 10s;
                    animation-iteration-count: 1;
                    transition-timing-function: linear;                     
                }

                @keyframes obstacle_three_anim {
                    0% {
                        transform: translate(100%);
                    }
                    100% {
                        transform: translate(0%);
                    }
                }

                .obstacle_four {
                    width: var(--obs_width);
                    height: var(--obs_width);
                    transition-duration: 5s;
                    transition-timing-function: linear;
                    transform: translate(-100%);
                    animation-delay: 15s;
                    flex-shrink: 0;
                    background-image: url('./references/pics_obstacles/dinosaur_in_egg.svg');
                    animation: obstacle_four_anim 10s;
                    animation-iteration-count: 1;
                    transition-timing-function: linear;                     
                }

                @keyframes obstacle_four_anim {
                    0% {
                        transform: translate(100%);
                    }
                    100% {
                        transform: translate(0%);
                    }
                }

                .obstacle_five {
                    width: var(--obs_width);
                    height: var(--obs_width);
                    transition-duration: 5s;
                    transition-timing-function: linear;
                    transform: translate(-100%);
                    animation-delay: 20s;
                    flex-shrink: 0;
                    background-image: url('./references/pics_obstacles/dinosaur_tyrannosaurus-rex.svg');
                    animation: obstacle_five_anim 10s;
                    animation-iteration-count: 1;
                    transition-timing-function: linear;                     
                }

                @keyframes obstacle_five_anim {
                    0% {
                        transform: translate(100%);
                    }
                    100% {
                        transform: translate(0%);
                    }
                }

                .obstacle_six {
                    width: var(--obs_width);
                    height: var(--obs_width);
                    transition-duration: 5s;
                    transition-timing-function: linear;
                    transform: translate(-100%);
                    animation-delay: 25s;
                    flex-shrink: 0;
                    background-image: url('./references/pics_obstacles/ancient_man.svg');
                    animation: obstacle_six_anim 10s;
                    animation-iteration-count: 1;
                    transition-timing-function: linear;                    
                }

                @keyframes obstacle_six_anim {
                    0% {
                        transform: translate(100%);
                    }
                    100% {
                        transform: translate(0%);
                    }
                }

                .obstacle_seven {
                    width: var(--obs_width);
                    height: var(--obs_width);
                    transition-duration: 5s;
                    transition-timing-function: linear;
                    transform: translate(-100%);
                    animation-delay: 30s;
                    flex-shrink: 0;
                    background-image: url('./references/pics_obstacles/rock-art.svg');
                    animation: obstacle_seven_anim 10s;
                    animation-iteration-count: 1;
                    transition-timing-function: linear;                     
                }   
                
                @keyframes obstacle_seven_anim {
                    0% {
                        transform: translate(100%);
                    }
                    100% {
                        transform: translate(0%);
                    }
                }            

            @keyframes player_anim {
                0% {
                    transform: translate(0px, 0px);
                }
                50% {
                    transform: translate(0px, 200px);
                }
                100% {
                    transform: translate(0px, 0px);
                }
            }

            @keyframes player_anim1 {
                0% {
                    transform: translate(0px, 0px);
                }
                50% {
                    transform: translate(0px, -200px);
                }
                100% {
                    transform: translate(0px, 0px);
                }
            }

            .player {                
                position: relative;
                /*animation: player_anim1 2s;
                animation-iteration-count: 1;
                animation-timing-function: linear;*/
            }

            #jumping:not(:checked) ~ #jumping1:checked ~ .view .player {
                animation: player_anim1 2s;
                animation-iteration-count: 1;
                animation-timing-function: linear;
            }

            #jumping:checked ~ #jumping1:not(:checked) ~ .view .player {
                animation: player_anim1 2s;
                animation-iteration-count: 1;
                animation-timing-function: linear;
            }   

                .dino_pic {                    
                    height: 120px;
                    width: 120px;
                    background-image: url('./references/dino.svg');
                    cursor: pointer;
                }

                .button_click {
                    position: absolute;
                    width: 100%;
                    height: 100%;    
                    top: 0;
                    left: 0;
                }

                .obstacle_click {
                    transform: translate(calc(100% + 2px));
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;                
                }

            .fly_button_placement {
                position: relative;
                width: 100%;
                height: 100px;
                display: flex;
                justify-content: center;                             
            }

                .fly_button {
                    width: 200px;
                    height: 50px;
                    cursor: pointer;
                    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
                    left: calc(50% - 75px);
                    top: calc(50% - 25px);
                    font-size: 30px;
                    font-family: 'Arial';
                    color: #8b669a;
                    border-radius: 10px;            
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;                    
                }

                    .fly_button:before {
                        content: '';
                        z-index: 2;                        
                        position: absolute;
                        display: block;
                        width: 16%;
                        height: 45%;
                        left: calc(50% - 95px);
                        top: calc(50% - 45px);
                        transition: 0.3 opacity ease-in-out;
                        filter: blur(10px);                        
                        opacity: 0;
                        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);                        
                    }

                    .fly_button:hover:before {
                        color: #8b669a;
                        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82),
                        linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);;                          
                        cursor: pointer;
                        filter: blur(20px);                                                
                        opacity: 1;   
                        transition: 0.3s opacity ease-in-out;                                                 
                    } 

                    .fly_button:after {
                        content: 'Fly';                        
                        text-align: center;
                        line-height: 40px;
                        font-size: 30px;
                        color: #e3d961;
                        z-index: 10;
                        position: absolute;
                        display: inline-block;
                        border-radius: 10px;
                        width: 16%;
                        height: 45%;
                        left: calc(50% - 95px);
                        top: calc(50% - 45px);
                        background: transparent;
                        background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82), 
                        linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82); 
                    }                   
                    

.boom {
    z-index: 1;
    width: 1300px;
    height: 1300px;
    position: absolute;
    top: -180px;
    left: 10px;
    display: none;
}

.about {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: flex-start;     
}

.creator {
    font-family: 'Princess Lulu';
    font-size: 20px;
    color: #fff;
    margin: 10px 0px 0px 0px;
}


